* {
  font-family: Poppins;
}

[lang='fa'] * {
  font-family: Vazirmatn;
}

pre {
  border-radius: 7px;
  box-shadow: inset 0 0 5px #ccc;
  background-color: rgba(175, 184, 193, 0.2) !important;
}

.remark-highlight * {
  direction: ltr;
}

.token.operator {
  background-color: transparent !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.menu {
  display: none;
}

@media (max-width: 700px) {
  .menu {
    display: block;
  }
}
